<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/createForm.css" />
</head>
<body>
     <div class="content-container">
        <div class="create-user-form">
            <h1>Enter the data below to create your account</h1>
            <input id = "username" class="username-input" placeholder="username"/>
            <input id = "username" class="password-input" placeholder="password"/>
            <input class="email-input" placeholder="email"/>
        </div>
     </div>
</body>
</html>
