<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="login-container">
        <div class="inner-box">      
            <div class="login-side-containers">
                <form asp-action="LoginUser">
                    <h1>Log In</h1>
                    <div class="input-form">
                        <input type="text" id="username" class="user-input" placeholder="Enter Username" />
                    </div>
                    <div class="input-form">
                        <input type="password" id="password" class="user-input" placeholder="Enter Password" />
                    </div>
                    <button class="submit-button">Submit</button>
                </form>
            </div>
            <div class="create-side-containers">
                <h1>Create New User</h1>
                <p>New User? Click the button below to create an account.</p>
                @using (Html.BeginForm("Create", "Login"))
                {
                    <input type="submit" value="Submit" class="btn" />
                }
            </div>
        </div>
    </div>
</body>
</html>

