/* Your existing CSS */
html {
    font-size: 14px;
}
html, body {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-create-container {
    display: flex;
    width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container {
    padding: 20px;
    text-align: center;
}

.create-container {
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}
.userInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
}

.submit-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-create-user {
    background-color: #28A745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
