/* Your existing CSS */
html {
    font-size: 14px;
}
html, body {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.login-container{
    display: flex;
    background-color: lightgrey;
    height: 91vh;
    justify-content: center;
    align-items: center;
}
.inner-box {
    width: 40%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    box-shadow: 20px blue;
}
.login-side-containers {
    background-color: white;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-width: 10px;
    overflow: hidden;
}
.create-side-containers {
    text-align: center;
    background-color: lightgreen;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-form{
    margin-bottom: 10px;
}
.user-input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: black;
}
.user-input:focus {
    outline: none;
    border-bottom-color: #5232D6;
}
.submit-button{
    margin-top: 10px;
}