<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvoiceApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a asp-area="" asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="dropdown">
                    <a class="holder">Data</a>
                    <div class="dropdown-content">
                        <a asp-area= "" asp-action= "Index" asp-controller= "Sports">Sports</a>
                        <a asp-area="" asp-action="Index" asp-controller="Teams">Teams</a>
                        <a asp-area="" asp-action="Index" asp-controller="Seasons">Seasons</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a class= "holder">Graphs</a>
                    <div class="dropdown-content">
                        <a asp-area="" asp-action="Index" asp-controller="ChampionshipPredict">MLB Graphs</a>
                        <a href="#">NFL Graphs</a>
                        <a href="#">NBA Graphs</a>
                    </div>
                </li>
                <li><a href="#">Contact</a></li>
                <li class="log-in-button">
                    <a asp-area="" asp-action="LoginPage" asp-controller="Login">Log-in</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
