<h1>Developer Notes for Myself</h1>
<h2>To-Do:</h2>
<ul>
    <li>
        Make more tables/think of more of them
    </li>
    <li>
        Figure out solution to inserting games
    </li>
    <li>
        Update Nav Bar to be more "cool"
    </li>
    <li>
        List NFL data as graphs
    </li>
</ul>
<h2>To-Do for Invoice App</h2>
<ul>
    <li>
        Parse through pdf and store into db
    </li>
    <li>
        Fix database dependencies
    </li>
    <li>

    </li>
    <li>
        Make admin accounts
    </li>
    <li>

    </li>
</ul>