<h1>Developer Notes for Myself</h1>
<h2>To-Do:</h2>
<ul>
    <li>
        Update Season database to store season win percent
    </li>
    <li>
        Write python script to scrape NFL seasons
    </li>
    <li>
        Make more tables/think of more of them
    </li>
    <li>
        Figure out solution to inserting games
    </li>
    <li>
        Update Nav Bar to be more "cool"
    </li>
</ul>